body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header {
    background: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 1vh;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    color: #e0e0e0;
}

header h2 {
    margin: 10px 0 0;
    font-size: 1.2em;
    font-weight: 400;
    color: #b0b0b0;
}

nav {
    background: #333;
    padding: 1vh;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
    color: #ffffff;
}

section {
    padding: 3vh ;
    border-bottom: 1px solid #1d1d1d;
}

section h2 {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 2em;
    color: #e0e0e0;
}

section .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section#about .content {
    flex-direction: row;
    align-items: flex-start;
}

section#about .content img {
    max-width: 200px;
    border-radius: 15px;
    margin: 20px;
}

section#about .content p {
    flex: 1;
    margin-left: 20px;
}

section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section ul li {
    background: #1f1f1f;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background 0.3s ease;
}

section ul li:hover {
    background: #333;
    color: #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    background: #1f1f1f;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-10px);
}

.grid-item h3 {
    margin-top: 0;
    color: #e0e0e0;
}

.grid-item p {
    color: #b0b0b0;
}

.grid-item a {
    color: #82b1ff;
    text-decoration: none;
    margin-top: auto;
}

.grid-item a:hover {
    text-decoration: underline;
}

.resume-button-container {
    text-align: center;
    margin-bottom: 10vh;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    color: #e0e0e0;
    background: #333;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background 0.3s ease, color 0.3s ease;
    text-align: center;
}

.resume-button i {
    margin-right: 10px;
}

.resume-button:hover {
    background: #555;
    color: #ffffff;
}

.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #e0e0e0;
    background: #333;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background 0.3s ease, color 0.3s ease;
}

.social-button i {
    margin-right: 10px;
}

.social-button:hover {
    background: #555;
    color: #ffffff;
}

footer {
    background: rgba(31,31,31, 0.75);
    box-shadow: 0 -4px 4px 0 rgba(31,31,31, 0.75);
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(5px)
}

@media (max-width: 768px) {

    section#about .content {
        flex-direction: column;
        align-items: flex-start;
    }


    nav {
        padding: 1vh;
    }

    nav ul li {
        display: inline-block;
        margin: 10px 0;
    }


    section .content {
        flex-direction: column;
    }

    section#about .content img {
        margin: 0 auto 20px;
    }

    section#about .content p {
        margin-left: 0;
        text-align: left;
    }

    .social {
        flex-direction: row;
    }

    .social-button {
        max-width: 4.5em;
        font-size: 1em;
    }
}
